{% extends 'base.html' %}

{% block title %}Lista de Entregas{% endblock %}

{% block content %}
<h1>Lista de Entregas</h1>
<table class="table">
    <thead>
        <tr>
            <th>Suministro</th>
            <th>Residente</th>
            <th>Fecha</th>
            <th>Cantidad</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for delivery in deliveries %}
        <tr>
            <td>{{ delivery.supply.name }}</td>
            <td>{{ delivery.resident.name }} {{ delivery.resident.lastname }}</td>
            <td>{{ delivery.date }}</td>
            <td>{{ delivery.quantity }}</td>
            <td>
                <a class="btn btn-primary" href="{{ url_for('delivery_bp.edit_delivery', id=delivery.id) }}">Editar</a>
                <form action="{{ url_for('delivery_bp.delete_delivery', id=delivery.id) }}" method="post" style="display:inline;">
                    <button class="btn btn-danger" type="submit">Eliminar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a class="btn btn-success" href="{{ url_for('delivery_bp.create_delivery') }}">Añadir Nueva Entrega</a>
{% endblock %}
