{% extends 'base.html' %}

{% block title %}Lista de Suministros{% endblock %}

{% block content %}
<h1>Lista de Suministros</h1>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for supply in supplies %}
        <tr>
            <td>{{ supply.name }}</td>
            <td>{{ supply.quantity }}</td>
            <td>{{ supply.description }}</td>
            <td>
                <a class="btn btn-primary" href="{{ url_for('supply_bp.edit_supply', id=supply.id) }}">Editar</a>
                <form action="{{ url_for('supply_bp.delete_supply', id=supply.id) }}" method="post" style="display:inline;">
                    <button class="btn btn-danger" type="submit">Eliminar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a class="btn btn-success" href="{{ url_for('supply_bp.create_supply') }}">Añadir Nuevo Suministro</a>
{% endblock %}
