{% extends 'base.html' %}

{% block title %}Usuarios - FAPS{% endblock %}

{% block page_title %}Usuarios{% endblock %}

{% block breadcrumbs %}
<li class="breadcrumb-item active">Usuarios</li>
{% endblock %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha de Nacimiento</th>
            <th>No. de Identificación</th>
            <th>Tipo de Usuario</th>
            <th>Correo Electrónico</th>
            <th>Activo</th>
            <th>Confirmado en</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.birthday_date }}</td>
            <td>{{ user.no_identification }}</td>
            <td>{{ user.type_user }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.active }}</td>
            <td>{{ user.confirmed_at }}</td>
            <td>
                <a class="btn btn-primary" href="{{ url_for('user_bp.edit_user', id=user.id) }}">Editar</a>
                <form action="{{ url_for('user_bp.delete_user', id=user.id) }}" method="post" style="display:inline;">
                    <button class="btn btn-danger" type="submit">Eliminar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a class="btn btn-success" href="{{ url_for('user_bp.create_user') }}">Añadir Nuevo Usuario</a>
{% endblock %}
